.env
/vendor/

skills-lock.json

.agents
.playwright-mcp/
auditoria-visual.md
DESIGN.md
identidad-visual.md
plan-implementación-proyecciones.md
plan.md
PRODUCT.md
rediseño-visual.md
proyecciones-hu.md