Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.env$ - [F,L]
    RewriteRule ^(app|config|database|vendor)(/|$) - [F,L]
</IfModule>

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>
